<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DevExpress" value="https://nuget.devexpress.com/RlrEUXqwXcRgzekqdAafK5xjYZ9D3jjreggqmJEh7EBbV2g1Lh/api/v3/index.json" />
  </packageSources>
</configuration>
